.about_technologies_card {
    text-align:center;
    padding:1.5rem;
    background:var(--off-white);
    border-radius:var(--radius);
}

.about_technologies_card_icon {
    font-size:2.5rem;
    margin-bottom:.5rem;
}

.about_technologies_card_title {
    font-weight:700;
    font-size:.9rem;
}

.about_technologies_card_text {
    font-size:.78rem;
    color:var(--gray-mid);
}

.about_technologies_text {
    font-size:.95rem;
    color:var(--gray-dark);
    line-height:1.8;
}