.our_mission_card {}

.our_mission_card_icon {
    font-size:2rem;
    margin-bottom:1rem;
}

.our_mission_card_title {
    font-weight:700;
    font-family:'Playfair Display',serif;
    margin-bottom:.75rem;
}

.our_mission_card_text {
    font-size:.88rem;
    color:var(--gray-dark);
    margin:0;
}